* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(hsl(225, 100%, 94%), hsl(224, 23%, 55%))
}

.card {
width: 26rem;
height: 42rem;;
border-radius: 1rem;
background: #fff;
}

.ilustration img{
width: 26rem;
border-radius: 1rem 1rem 0 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 2rem;
}

.text h2 {
    padding-top: 2rem;
    font-weight: 900;
    color:hsl(223, 47%, 23%)
}

.text .description {
    padding-top: 2rem;
    color: hsl(226, 11%, 61%);
    line-height: 1.5rem;
}

.plan {
    margin-top: 2rem;
    width: 22rem;
    display: flex;
    background:hsl(225, 100%, 94%, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.plan-name-price {
    position: relative;
    left: -3rem;
    text-align: left;
}

.plan-name {
    font-weight: 900;
    color:hsl(223, 47%, 23%);
}

.plan-price {
color: hsl(226, 11%, 61%);
font-size: 0.9rem;
}

.change {
    font-size: 0.9rem;
    font-weight: 700;
    color:hsl(245, 75%, 52%);
}

button {
    background: hsl(245, 75%, 52%);
    border:none;
    border-radius: 1rem;
    margin-top: 2rem;
    width: 22rem;
    padding: 1rem;
    box-shadow: 8px 10px 10px hsl(224, 23%, 55%, 0.4);
    color: whitesmoke; 
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cancel {
    margin-top: 2rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    color:hsl(226, 11%, 61%);
}

.cancel:hover {
    color:hsl(223, 47%, 23%);
    font-weight: 900;
}

button:hover {
    background-color: hsl(245, 56%, 57%);
}

.change:hover {
    color: hsl(245, 56%, 57%);
}